*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #37353e;
  --secondary-color: #1d1616;
  --light-color: #d3dad9;
  --dark-color: #1d1616;

  --white-color: #fff;
}

body {
  font-family: "Roboto", "Open Sans", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

a {
  color: var(--white-color);
}

/* ============ Containers & Utylities ============ */
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 1.75rem;
}

.container_sm {
  max-width: 1000px;
}

.btn {
  display: inline-block;
  background: var(--dark-color);
  color: var(--light-color);
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  transition: all 0.25s linear;
}

.btn:hover {
  background: var(--light-color);
  color: var(--dark-color);
}

section {
  padding: 1.5rem 0;
}

.section_header {
  max-width: 750px;
  margin: 0 auto 2.5rem;
  padding: 1rem 0;
  text-align: center;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 0.75rem;
  }

  p {
    font-size: 1.2rem;
    color: var(--primary-color);
  }
}

.heading_border {
  width: 65px;
  height: 4px;
  background: var(--primary-color);
  margin: 0 auto 1.25rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  padding: 1.75rem 1.25rem;
  background: var(--light-color);
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.6);

  h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1rem 0;
  }
}

/* ============ Navbar ============ */
.navbar {
  background: var(--dark-color);
  color: var(--white-color);
  padding: 1rem 1.75rem;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: background 0.3s ease-in-out;

  .navbar_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    width: 70px;
  }

  .main_menu_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-weight: 600;
  }

  a:hover {
    color: var(--light-color);
  }

  /* ============ Mobile Navbar ============ */
  .mobile_menu {
    display: none;
  }

  .mobile_menu_toggle {
    cursor: pointer;
  }

  .mobile_menu_items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--primary-color);
    opacity: 0.95;
    padding: 2.5rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .mobile_menu_items.active {
    transform: translateX(0);
  }

  .mobile_menu_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.55rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.navbar.navbar_scroll {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

/* ============ Hero ============ */
.hero {
  /* background: #000 url("../images/abstract-digital-grid-black-background.jpg") center center/cover no-repeat; */
  background: var(--white-color);
  padding: 10rem 2rem 0rem;
  color: var(--secondary-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.5rem;
    padding-bottom: 7rem;
  }

  img {
    max-height: 600px;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.25rem;
  }

  p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
    line-height: 1.7;
  }
}

/* ============ Learn Section ============ */
.learn {
  background: var(--light-color);

  .topics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    justify-content: center;
    gap: 2rem;
    text-align: center;
  }

  .topic img {
    transition: transform 0.3s;
  }

  .topic img:hover {
    transform: scale(1.05);
  }

  .topic h3 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0.5rem 0;
    line-height: 1.2;
  }
}

/* ============ Course Chapter Section ============ */
.chapters {
  .chapter_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 2rem;

    img {
      max-width: 120px;
    }
  }
}

/* ============ Summary Section ============ */
.summary {
  background: var(--light-color);
  color: var(--dark-color);
  padding: 3.5rem 1.5rem 4.5rem;

  .section_list {
    background: var(--white-color);
    padding: 2rem;
  }

  .list_header {
    background: var(--dark-color);
    color: var(--white-color);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 1rem 0;
  }

  .list_item {
    padding: 1.2rem 0;
    border-bottom: 1px solid var(--light-color);
  }

  .list .list_item:last-child {
    border-bottom: none;
  }
}

/* ============ Info Section ============ */
.info {
  background: var(--light-color);
}

.info_container {
  background: url("../images/audience-1853662_1920.jpg") center center/cover no-repeat;
  display: flex;

  .info_left {
    width: 50%;
  }

  .info_content {
    background: var(--primary-color);
    color: var(--white-color);
    flex: 1;
    padding: 3.5rem;

    h2 {
      font-size: 2rem;
      line-height: 1.2;
      margin-bottom: 1rem;
      font-weight: 700;
    }

    p {
      font-size: 1.1rem;
      margin-bottom: 2rem;
    }

    ul li {
      font-size: 1.1rem;
      line-height: 2;
    }

    i {
      margin-right: 0.5rem;
      color: var(--white-color);
    }
  }
}

/* ============ Media Queries ============ */
@media screen and (max-width: 1150px) {
  .hero {
    .hero_flex {
      gap: 2rem;
    }

    h1 {
      font-size: 2.5rem;
    }

    img {
      max-width: 400px;
    }
  }

  .learn {
    background: var(--light-color);

    .topics {
      gap: 1rem;
    }
  }

  .summary {
    padding: 1.5rem 0.5rem 1.5rem;

    .section_list {
      padding: 1rem;
    }
  }
}

@media screen and (max-width: 992px) {
  .hero {
    padding: 7rem 1rem 0rem;

    .hero_flex {
      gap: 1rem;
      padding-bottom: 4rem;
    }
  }

  .summary {
    padding: 0;

    .container {
      padding: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .main_menu_items {
      display: none;
    }

    .mobile_menu {
      display: block;
    }

    .mobile_menu_toggle {
      display: block;
      padding: 1rem;
    }
  }

  .hero {
    text-align: center;

    .hero_flex {
      flex-direction: column;
      padding-bottom: 0;
    }

    img {
      max-width: 450px;
      width: 100%;
    }
  }

  .info {
    background: var(--primary-color);
  }

  .info_container {
    flex-direction: column;

    .info_left {
      display: none;
    }

    .info_content {
      padding: 2rem;

      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 576px) {
}
