*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #37353e;
  --secondary-color: #1d1616;
  --light-color: #d3dad9;
  --dark-color: #1d1616;

  --white-color: #fff;
}

body {
  font-family: "Roboto", "Open Sans", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

a {
  color: var(--white-color);
}

/* ============ Containers ============ */
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 1.75rem;
}

.container_sm {
  max-width: 1000px;
}

/* ============ Navbar ============ */
.navbar {
  background: var(--dark-color);
  color: var(--white-color);
  padding: 1rem 1.75rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: background 0.3s ease-in-out;

  .navbar_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    width: 70px;
  }

  .main_menu_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-weight: 600;
  }

  a:hover {
    color: var(--light-color);
  }

  /* ============ Mobile Navbar ============ */
  .mobile_menu {
    display: none;
  }

  .mobile_menu_toggle {
    cursor: pointer;
  }

  .mobile_menu_items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--primary-color);
    opacity: 0.95;
    padding: 2.5rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .mobile_menu_items.active {
    transform: translateX(0);
  }

  .mobile_menu_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.55rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

/* ============ Media Queries ============ */
@media screen and (max-width: 1150px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .navbar {
    .main_menu_items {
      display: none;
    }

    .mobile_menu {
      display: block;
    }

    .mobile_menu_toggle {
      display: block;
      padding: 1rem;
    }
  }
}

@media screen and (max-width: 576px) {
}
