*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #53629e;
  --secondary-color: #87bac3;
  --light-color: #d6f4ed;
  --dark-color: #473472;
}

body {
  font-family: "Roboto", "Open Sans", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

/* Media Queries */
@media screen and (max-width: 1150px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}
